.shop-box{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.shop-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(52, 160, 167);
}

.shop-gallery{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    row-gap: 15px;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
}



.animal-window{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    transition: padding-bottom 0.15s, box-shadow 0.15s;
    background-color: white;
}

.animal-window:hover{
    padding-bottom: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}


.animal-im-box img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;   
    object-fit: cover;
}
