.nav-bar{
    display: flex;
    flex-direction: column;
    
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 12rem;
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(255, 111, 0);
    border-bottom: 1.5px solid rgb(0, 0, 0);
}

.nav button {
    border: 0 none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    color: white;
    background-color:rgb(255, 111, 0) ;
    text-decoration: none;
    font-weight: bold;
}

.nav button:hover{
    color: rgb(0, 0, 0);
}

.nav button:active{
    color: rgba(0, 0, 0,0.3);
}


.menu{
    flex-grow:1;
    display: flex;
    justify-content: end;
}

.search{
    flex-grow: 0.5;
    display: flex;
    justify-content: end;
    
}